<mat-card class="mainCard">

            <input
              type="text"
              [(ngModel)]="searchText"
              class="form-control"
              id="search"
              mdbInput
              placeholder="Search.."
              aria-label="Search"
            />
     
    <table mdbTable #tableEl="mdbTable" class="z-depth-1">
        <thead>
            <tr>
                <th *ngFor="let head of headElements; let i = index" scope="col">{{head}}
                </th
                >
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let acc of accountDetails; let i = index">
                <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" scope="row">{{acc["Account No"]}}</td>
                <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{acc["Date"]}}</td>
                <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{acc["Transaction Details"]}}</td>
                <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{acc["Value Date"]}}</td>
                <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{acc["Withdrawal AMT"]}}</td>
                <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{acc["Deposit AMT"]}}</td>
                <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{acc["Balance AMT"]}}</td>
            </tr>
        </tbody>
        <tfoot class="grey lighten-5 w-100">
            <tr>
              <td colspan="4">
                <mdb-table-pagination [tableEl]="tableEl" [searchDataSource]="elements"></mdb-table-pagination>
              </td>
            </tr>
            </tfoot>
    </table>
</mat-card>

